:root {
  --white: #fff;
  --black: #0b090a;
  --light-blue: #3A86FF;
  --light-grey: #161a1d;
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: 'Ubuntu', sans-serif;
}

body, ul, button {
  margin: 0;
  padding: 0;
}

small {
  text-decoration: none;
  font-size: 1rem;
  color: var(--light-grey);
}

code {
  font-family: 'Source Code Pro', monospace;
  color: var(--white);
  background-color: var(--light-grey);

  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

a, summary, button {
  cursor: pointer;
}


summary {  
  transform: 0.2s;
}

button {
  border: none;
  background: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--light-blue);

  transform: 0.2s;
}

a:hover, summary:hover {
  filter: brightness(0.9);
}

@media screen and (min-height: 700px) {
  * {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #fff;
    --white: #0b090a;
    --light-grey: #3a3a3a;
  }
}